<div class="container card-content">
    <img class="card-image" src="https://zakupki.mos.ru/newapi/api/Core/Thumbnail/<%= imageId %>/300/300">
    <a href="<%- link %>"><strong><%= name %></strong></a>
    <p><%= offers.length %> поставщик(ов)</p>
    <strong><%= price %></strong>
</div>