<div class="container card-content">
    <img class="card-image" src="<%= item.image %>">
    <a href="<%- item.link %>"><strong><%= item['Наименование СТЕ'] %></strong></a>
    <p><%= (item['Поставщики'].match(/SupplierId/g) || []).length %> поставщик(ов)</p>
    <strong><%= item['Цена'] ? JSON.parse(item['Цена'])[0]['Cost']+" руб." : "Нет в наличии" %></strong>
</div>