<%- include('header'); %>

<div class="container cart-header row">
    <div class="six columns">
        <h2 style="margin: 0">Моя корзина</h2>
    </div>
    <div class="six columns button-container">
        <button style="margin: 0" class="button-primary"
                onclick="Cookies.set('cart', '[]'); location.reload()">Очистить корзину</button>
    </div>
</div>
<div class="container">
    <% items.forEach(function(item){ %>
        <div class="row cart-item">
            <div class="three columns">
                <img class="card-image" src="<%= item.image %>">
            </div>
            <div class="five columns">
                <strong><%= item['Наименование СТЕ'] %></strong><br>
                <em><%= (item['Поставщики'].match(/SupplierId/g) || []).length %> поставщик(ов)</em>
            </div>
            <div class="two columns">
                <%= item['Цена'] ? JSON.parse(item['Цена'])[0]['Cost']+" руб." : "Нет в наличии" %>
            </div>
            <div class="two columns vertical">
                <button>+</button>0<button>-</button>
            </div>

        </div>
    <% }); %>
</div>
<h4>Сопутствующие товары</h4>
<div class="flex">
    <% recommended.forEach(function(item){ %>
        <div class="card">
            <%- include('card', {item:{...item, link: "/item/"+item['Идентификатор СТЕ']}}); %>
        </div>
    <% }); %>
</div>
<%- include('footer'); %>