<%- include('header'); %>
<div class="container">
    <em><%= item['Категория'] %></em>
    <h3><%= item['Наименование СТЕ'] %></h3>
    <div class="flex item-info">
        <img class="item-image" src="<%= item.image %>">
        <div>
            <em>Страна-производитель: <%= item['Страна происхождения'] %></em>
            <h4><strong><%= item['Цена'] ? JSON.parse(item['Цена'])[0]['Cost'] : "Нет в наличии" %></strong></h4>
            <p>На основе <%= (item['Поставщики'].match(/SupplierId/g) || []).length %> предложений поставщиков</p>
            <button class="button-primary" onclick="addToCart(<%= item['Идентификатор СТЕ'] %>)">Добавить в корзину</button>
        </div>
    </div><br>
    <h4>Характеристики</h4>
    <table class="u-full-width">
        <tbody>

        <% JSON.parse(item['Характеристики СТЕ']).forEach(function(info){ %>
            <tr>
                <td><strong><%= info["Name"] %></strong></td>
                <td><%= info["Value"] + (!info.hasOwnProperty("Unit") ? "" : " " +info["Unit"]) %></td>
            </tr>
        <% }); %>
        </tbody>
    </table>
    <h4>Похожие товары</h4>
    <div class="flex">
        <% recommended.forEach(function(similar){ %>
            <div class="card">
                <%- include('card', {item:{...similar, link: "/item/"+item['Идентификатор СТЕ']}}); %>
            </div>
        <% }); %>
    </div>
</div>
<%- include('footer'); %>